<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="d4d.com.svd_basic_plus">

    <!--Para compatibilidad de librerias nuevas con antiguas versiones de Android-->
    <uses-sdk tools:overrideLibrary="io.crossbar.autobahn"/>

    <!--Para acceder a internet-->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <!--Para obtener la ubicación precisa a través del proveedor de ubicación GPS-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-feature android:name="android.hardware.location.gps" />

    <!--Para lectura y escritura-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />

    <!--Para leer audio del teléfono -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <!--Para la Vibración-->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!--Para la camara-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera2.full" />
    <uses-feature android:name="android.hardware.camera2.autofocus" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!--Para acceder a bluetooth-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>


    <!--for service foreground-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- Para configurar Google Cloud Messaging (Firebase) -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- Para NFC-->
    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc" android:required="true" />

    <!-- android hardwareAccelerated=true" para que el ocr ID funciones -->
    <!-- android hardwareAccelerated=true" para que el ocr ID funciones -->
    <!-- android hardwareAccelerated=true" para que el ocr ID funciones -->
    <!-- android hardwareAccelerated=true" para que el ocr ID funciones -->
    <!-- tools:replace="android:appComponentFactory" -->



    <application
        android:allowBackup="true"
        tools:replace="android:allowBackup"

        android:icon="@drawable/ic_icon_app2"
        android:roundIcon="@drawable/ic_icon_app2"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        >

        <!-- Websocket_service desde android 6 hacia atras -->
        <!-- Para parar el servicio  android:stopWithTask="true"-->
        <service android:enabled="true" android:name="d4d.com.svd_basic_plus.comunication.WebSocketComunication"/>
        <!-- <service android:name="data4decision.svd.comunication.WebSocketComunication" android:stopWithTask="true" /> -->

        <service android:name="com.kontakt.sdk.android.ble.service.ProximityService" android:exported="false"/>

        <receiver android:name=".MyBroadcastReceiver"  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.INPUT_METHOD_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:exported="true"
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>

        <!--android:windowSoftInputMode="adjustResize|stateHidden"-->
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">
        </activity>

        <activity
            android:name=".ActivityStreaming"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">
        </activity>


        <activity
            android:name=".MainActivityContent"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".RegisterLocationActivity"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".QRLectorActivity"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".ptt.ListaUsuariosActivity"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            >
        </activity>

        <activity
            android:name=".chat.ChatActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name=".location.LocationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name=".proyecto.ProyectoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name=".ExoPlayer2Activity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTop">
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>

        </provider>


    </application>

</manifest>